<!DOCTYPE html>
  <html>
    <body>
      <!-- Trigger the Modal -->
      <img (click)="addModal()" id="myImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d978oh4-269c5fbb-d04e-40f0-97b1-3657a62aa56e.png/v1/fill/w_1280,h_907,q_80,strp/konnichiwa_by_piethein21_d978oh4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA3IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kOTc4b2g0LTI2OWM1ZmJiLWQwNGUtNDBmMC05N2IxLTM2NTdhNjJhYTU2ZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3zh6unoJ1oa3GL_Moipxqv9SBIINq1yOo6eIAcF4WMk" alt="Snow" style="width:100%;max-width:300px">

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span (click)="closeModal()" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d978oh4-269c5fbb-d04e-40f0-97b1-3657a62aa56e.png/v1/fill/w_1280,h_907,q_80,strp/konnichiwa_by_piethein21_d978oh4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA3IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kOTc4b2g0LTI2OWM1ZmJiLWQwNGUtNDBmMC05N2IxLTM2NTdhNjJhYTU2ZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3zh6unoJ1oa3GL_Moipxqv9SBIINq1yOo6eIAcF4WMk" alt="Image">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
    </body>
</html>
