<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Fractals</title>
  <
</head>
    <body>
    <div class="container">
      <header></header>

      <main>



    <div class="blog_item">
      <h1>Over fractals</h1>
      Misschien denk je "mooie plaatjes Niels, maar wat is een fractal eigenlijk en hoe maak je ze?". Dit is een zeer terechte vraag. Daarom leg ik op deze pagina uit wat een fractal is en hoe ik ze maak.
      <h2>Wat is een fractal?</h2>
      <table>
        <tr>
          <td>
      Fractals kom je overal tegen in de wolken, de nerven van een blad en op mijn computer. Als je online gaat zoeken zal je verschillende beschrijvingen vinden.
      Zo staat er op de <a href="https://nl.wikipedia.org/wiki/Fractal" target="_blank">Nederlandse wikipedia pagina</a>: "Een fractal, soms ook fractaal genoemd, is een meetkundige figuur die zelfgelijkend is, dat wil zeggen opgebouwd is uit delen die min of meer gelijkvormig zijn met de figuur zelf."
      Waar er op de <a href="https://en.wikipedia.org/wiki/Fractal" target="_blank">Engelse wikipedia pagina</a> het volgende staat: "In mathematics, a fractal is a subset of a Euclidean space for which the Hausdorff dimension strictly exceeds the topological dimension."
      <br>
            Waneer je op zoek gaat naar een definitie kan je dit natuurlijk het beste doen in een wiskundeboek. Echter is dit geen waterdichte tactiek. Waneer je het boek van Kenneth  Falconner "Fractal Geometry" openslaat en op zoek gaat naar de definitie kom je van een koude kermis thuis.
      In plaats van een definitie staan er karakteristieken van een fractal. Omdat veel mensen (wiskundige en niet-wiskundige) een idee hebben wat een fractal zou moeten zijn, is het moeilijk een definitie op te stellen waarmee iedereen tevreden zal zijn.
      Daarom zal ik dat dan ook niet doen. Om het mezelf makkelijk te maken hanteer ik op deze website de volgende berschrijving: een fractal is een plaatje dat met behulp van wiskundige formules gedefinieerd en gemaakt is.
          </td>
          <td><img title="blaadje" class="plaatje" src="https://thumbs.dreamstime.com/z/autumn-leaf-yellow-orange-maple-hand-drawing-vector-illustration-75741875.jpg"></td>
        </tr>
      </table>
          <h2>Hoe maak ik een fractal?</h2>
      <p>Door de beschrijving van fractals te lezen kunt u wel een idee krijgen wat een fractal is, maar niet hoe ik een fractal maak.
        Ik zal hier een omschrijving geven.
        De programma's die ik gebruik zijn Apophysys en Chaotica. Apophysis (ook wel apo genoemd) is open source en volledig gratis.
        Chaotica aan de andere kant heeft wel een gratis versie, maar daarmee kan je geen grote fractals maken.
        Bij het maken van een fractal maak je een beschrijving van het plaatje (dit doe ik in Apo).
        Je geeft die beschrijving aan je computer die dan vervolgens het plaatje bij die beschrijving maakt.
        Dit laatste is een rekenintensief process wat we renderen noemen (dit doe ik in Chaotica).
        Waar Apo gebruiksvriendelijker is, is Chaotica sneller en preciezer in het renderen.
      </p>
      Hoe groter je de fractal wilt printen des te groter het plaatje moet zijn. De fractals die ik gebruik voor een A0 afdruk zijn 19.860 x 14.058 pixel bestanden (van rond de 400MB). Mijn computer heeft een paar dagen nodig om de kleur van iedere pixel te berekenen. Dit terwijl ik nog zeker niet een slechte computer heb.
      Vaak wanneer ik een fractal maak heb ik een idee van wat voor soort fractal ik wil maken. Denk daarbij meer aan bepaalde structuren dan aan bepaalde kleuren. De kleuren kies ik in een later stadium wanneer er vormen zijn waar ik tevreden mee ben. Daarna zal ik vaak nog vormen veranderen, verschillende dingen proberen en weer de kleuren veranderen.
      Zolang het plaatje naar iets convergeert waar ik blij mee ben gaat het goed. Als ik merk dat het niet goed gaat, het plaatje wat ik wil krijgen vormt zich niet of past niet bij mijn humeur, dan begin ik opnieuw of stop ik en probeer ik het op een ander moment weer. Dit is niet erg, want het heeft bijgedragen aan het algemene process.
      Laten we door een (erg simpel) voorbeeld heen lopen.

      <h2>Stap 1</h2>
      Ik bedenk wat voor fractal te maken. Vandaag denk ik dat het een goede dag is om een "cylinder splits" te maken.

      <h2>Stap 2</h2>
      Ik open Apo en begin een nieuwe fractal.
      <img title="Best leeg nog" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddih9yr-e73b30a9-6d48-4868-8c09-41e151dcfa43.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaDl5ci1lNzNiMzBhOS02ZDQ4LTQ4NjgtOGMwOS00MWUxNTFkY2ZhNDMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GTwp4oK_URp8d85P1G8A_kNi62tKPCZ0vrqTIZSONFw">

      <h2>Stap 3</h2>
      Ik maak 3 transformaties. Een cylinder (met pre_blur wat er voor zorgt dat we wat kunnen zien), een splits en een transformatie die altijd na deze twee wordt toegepast. Wat ik hiermee ga doen weet ik nog niet, maar het zorgt ervoor dat ik meer dingen kan veranderen.
      <img title="We kunnen wat zien" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha05-6475846b-6fe4-43f8-b49d-ae3833c376be.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGEwNS02NDc1ODQ2Yi02ZmU0LTQzZjgtYjQ5ZC1hZTM4MzNjMzc2YmUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.b7TaAf2O9Oh1t97Xn_HRahpKOWgL4cI28HTxTMXpE9Q">

      <h2>Stap 4</h2>
      Ik verander het gewicht van de cylinder (hoe groot de kans is dat deze transformatie gekozen wordt). Verder draai ik de splits een beetje.
      <img title="Hier is nog wat meer te zien" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha0z-7308e79a-6469-4efc-b4ad-7e4a483f0b1d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGEwei03MzA4ZTc5YS02NDY5LTRlZmMtYjRhZC03ZTRhNDgzZjBiMWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.peadqV813LM1syQ2g5foLyhED4Xkjm3jYAHnSzkDCpk">

      <h2>Stap 5</h2>
      Ik verander de kleurinstellingen.
      <img title="Nu met wat meer kleur" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha1t-4b00a6a6-912f-4956-abdc-a1d1d68222bc.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGExdC00YjAwYTZhNi05MTJmLTQ5NTYtYWJkYy1hMWQxZDY4MjIyYmMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PSrWrOIjFNi7A9Xj338z-8Atbr2hTYSfEuhtwqdBSwI">

      <h2>Stap 6</h2>
      Ik verander de transformatie die ik had gereserveerd om iets te doen na de cylinder en de splits (deze keer een spherical, wat neer komt op een 1/x die de fractal binnenstebuiten keert).
      <img title="Nu gebeurt er wat meer" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha37-6f623cc1-99c4-4c9f-bed2-98556d0b33fd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGEzNy02ZjYyM2NjMS05OWM0LTRjOWYtYmVkMi05ODU1NmQwYjMzZmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7Y3ZUfXnrf9WxO97Su7UNsS8YkIfxa4R5oW4sOo1NxA">

      <h2>Stap 7</h2>
      Ik verander de bluring. Dat wilt zeggen dat ik een nieuwe transformatie toevoeg die voor de cylinder wordt toegepast (waar ik de pre_blur heb weggehaald). Deze nieuwe transformatie geeft me alle vrijheid en keuzes om te bluren.
      <img title="Nu ook de bluring aangepast" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha4e-31ecc15d-a434-464d-b43d-8a829118d642.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGE0ZS0zMWVjYzE1ZC1hNDM0LTQ2NGQtYjQzZC04YTgyOTExOGQ2NDIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._3FgGLQUijbXf10zAiH_n9gwbWkI_rr8LdK4PPQgJOs">

      <h2> Stap 8</h2>
      Normaal gesproken voer ik de stap 4 tot en met 8 meerdere keren uit in willekeurige volgorde (na de eerste keer). Hierbij kan ik natuurlijk meer transformaties toevoegen. Ik doe dat zonder de structuur te breken (dat er gaten komen, of we overlappende delen hebben).
      Dit zou niet veel toevoegen aan de uitleg en opzich ziet dit resultaat er wel aardig uit. Waar we naar kijken is een preview. Apo heeft snel even een plaatje gemaakt op zeer lage kwaliteit om een idee te geven wat het zal worden.

      <h2> Stap 9</h2>
      Ik ga de fractal in Chaotica renderen. Ik kopieer de beschrijving van de fractal en geef dat als input aan Chaotica.
      <img title="Zo ziet het renderprogramma eruit" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha5f-047f8119-c04a-484b-91da-532f53737d35.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGE1Zi0wNDdmODExOS1jMDRhLTQ4NGItOTFkYS01MzJmNTM3MzdkMzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.fpEvR7MHeW0TnJJ3wypm16_VZr8dxV3jNr8aFCOnenk">

      <h2> Stap 10</h2>
      Aan de rechterkant kan ik verschillende instellingen veranderen naar wens om het plaatje lichter te maken of juist donkerder (en nog wat andere dingen waar ik je niet mee zal lastig vallen).
      Ik verander deze totdat ik tevreden ben. Gelukkig kan ik gelijk zien wat het effect is als ik een instelling verander. Ook krijg ik constant updates over hoe de fractal er op dat moment uit ziet. Op elk moment kan ik opslaan.
      <img title="Wat langer in de oven" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha6n-f55da4c2-e5f3-438b-a855-629e7226f501.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZGRpaGE2bi1mNTVkYTRjMi1lNWYzLTQzOGItYTg1NS02MjllNzIyNmY1MDEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Fc0Q-1MFZem-nJ_kL-hOep7nw1D6sdOS97XQ_IhDD00">

      <h2> Stap 11</h2>
      Ik wacht tot de render klaar is. Wat klaar is kan ik zelf bepalen. Hoe langer ik wacht des te beter het plaatje wordt. Echter is na een tijdje het plaatje van erg goede kwaliteit en moet je heel lang wachten voor je nog betere kwaliteit hebt (een uur wachten geeft dan nagenoeg geen beter resultaat).
      Dat is het moment dat je het plaatje kan opslaan. Voor dit voorbeeld heb ik 10 minuten gewacht.

      <h2> Stap 12</h2>
      Ik kijk naar mijn zo juist gemaakte plaatje.
      <img title="Het eindresultaat!" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddiha8v-8f363651-9e74-463c-9e4b-9ec1c2d0eeb4.png/v1/fill/w_1280,h_854,q_80,strp/cylindersforwebsiterender_by_piethein21_ddiha8v-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kZGloYTh2LThmMzYzNjUxLTllNzQtNDYzYy05ZTRiLTllYzFjMmQwZWViNC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Ypk0CsMyFNn1O_RqhrtydjCi02pduyzVjSvkjE7o8J0">

    </div>


<!--      <h2>Aligned Dropdown Content</h2>-->
<!--      <p>Determine whether the dropdown content should go from left to right or right to left with the left and right properties.</p>-->

<!--      <div class="dropdown" style="float:left;">-->
<!--        <button class="dropbtn">Left</button>-->
<!--        <div class="dropdown-content" style="left:0;">-->
<!--          <a href="#">Link 1</a>-->
<!--          <a href="#">Link 2</a>-->
<!--          <a href="#">Link 3</a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="dropdown" style="float:right;">-->
<!--        <button class="dropbtn">Right</button>-->
<!--        <div class="dropdown-content">-->
<!--          <a href="#">Link 1</a>-->
<!--          <a href="#">Link 2</a>-->
<!--          <a href="#">Link 3</a>-->
<!--        </div>-->
<!--      </div>-->

      </main>

    </div>

      <div class="footer">
        <p>Copyright © 2019</p>
        <p>Created with Angular by <a href="https://www.deviantart.com/piethein21" target="_blank"> Niels Langeveld</a></p>
      </div>


    </body>
</html>
