<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Niels</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

  <main>

    <div class="cv_item">
      <h2>Algemene informatie over Mij</h2>
      <p>
        Ik ben ...
      </p>
    </div>


  </main>

</div>



<div class="footer">
  <p>Copyright © 2019</p>
  <p>Created with Angular by <a href="https://www.deviantart.com/piethein21"> Niels Langeveld</a></p>
</div>
</body>
</html>
