<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Niels</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

  <main>

    <div class="blog_item">
      <h2>Algemene informatie over Mij</h2>
      <p>
        Ik ben een wiskundige en hou me onder andere bezig met fractals in mijn vrije tijd. Het maken van fractals is zo'n 9 jaar geleden begonnen.
        Toentertijd maakte ik "gekke plaatjes" met behulp van ms paint.
        <img title="Een ms paint creatie" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d2pkxbn-e5df609f-f5d4-4c78-bdc5-00727a85f61e.jpg/v1/fill/w_900,h_655,q_75,strp/as_a_background_by_piethein21_d2pkxbn-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjU1IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kMnBreGJuLWU1ZGY2MDlmLWY1ZDQtNGM3OC1iZGM1LTAwNzI3YTg1ZjYxZS5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.nnYtuqdVuPK-FdPP0B-LIjR-A0QokRNh-3JJgYl7ECE">
        Ik dacht erover na om wat andere programma's te gebruiken en ben toen meer per toeval op Apophysis gekomen (het fractal programma dat ik gebruik).
        Aanvankelijk maakte ik vrij willekeurige vormen en probeerde er iets in te zien om het vervolgens te vervormen tot wat ik erin zag.
        <img title="Een bewerkte fractal" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d2xpbab-2994fad0-1991-43f3-9d55-8855a6c4c6d2.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZDJ4cGJhYi0yOTk0ZmFkMC0xOTkxLTQzZjMtOWQ1NS04ODU1YTZjNGM2ZDIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EzbdkoBZm1Mma34agD1UdlgQowr2bJ-97YAImF8ZA2s">
        Daarna ben ik steeds minder vaak de fractal gaan editten en ben vaker, wat we noemen, raw fractals gaan maken.
        <img title="Een van mijn eerste fractals" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d324yuj-4670956b-34c7-478f-aa74-b371018b4697.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZDMyNHl1ai00NjcwOTU2Yi0zNGM3LTQ3OGYtYWE3NC1iMzcxMDE4YjQ2OTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.K5M6uFmTXB15O2rWnrcCZcu_3SzE3w2vKCZLqLzPzSY">
        Al snel werd het een verslaving. In de beginperiode (zeg de eerste 2 jaar) maakte ik vrijwel iedere dag een nieuwe fractal. Het zal tegen de 20 uur per week aangezeten hebben.
        Zeker in het verleden, maar nu nog slechts af en toe, heb ik veel werken in samenwerking met anderen gemaakt. Dit is een erg gezellige bezigheid en bovendien de snelste manier om het te leren.
        Ook is de ene persoon iets beter in het ene aspect en de andere iets beter in een ander aspect. Door samen te werken kan je dus op originele werken komen waar je in je eentje misschien niet op gekomen was.
        <img title="Een samenwerking met Sam" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4940e6bd-78b3-4eef-8fef-dc908333a4e8/d4v66q6-03c72659-98db-490d-8e1c-bbde5c855753.jpg/v1/fill/w_1600,h_924,q_75,strp/splash_by_chaosfissure_d4v66q6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTI0IiwicGF0aCI6IlwvZlwvNDk0MGU2YmQtNzhiMy00ZWVmLThmZWYtZGM5MDgzMzNhNGU4XC9kNHY2NnE2LTAzYzcyNjU5LTk4ZGItNDkwZC04ZTFjLWJiZGU1Yzg1NTc1My5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.al4NusTuTOfP_s-CAfoQgYzBjOYbZbW4cE5z67leaPc">
        De eerste echte verdieping is gekomen toen ik werken ging maken waar ik Loonie gebruikte. Ik ben toen van het orienterende karakter weg gegaan en heb geprobeerd alles tot in de puntjes uit te werken.
        <img title="Een van mijn eerste Loonie werken" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d4g2vfk-4e7985d9-112f-4feb-9305-8fa230deacd8.png/v1/fill/w_1024,h_683,q_80,strp/loonie_stoneparty_by_piethein21_d4g2vfk-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjgzIiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kNGcydmZrLTRlNzk4NWQ5LTExMmYtNGZlYi05MzA1LThmYTIzMGRlYWNkOC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vs6tTiLvtqOBKHLmLy4GC7ZiXuNtO9kUgV84x58HROk">
        Later heb ik meer stijlen tot mij genomen en ik denk dat ik uiteindelijk redelijk een breed scala van technieken en stijlen beheers.
        <img title="Een 'double bubble' werk" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d8w327j-34389b2e-8488-4893-bdf9-b8e4f8a283bd.png/v1/fill/w_1024,h_725,q_80,strp/orkenrotte_by_piethein21_d8w327j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzI1IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kOHczMjdqLTM0Mzg5YjJlLTg0ODgtNDg5My1iZGY5LWI4ZTRmOGEyODNiZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.frizbfw2y-623nA6vz_UrTU12WgZ9RwxzsFeRGwfwfI">
        <img title="Een hybrid" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d68hqne-5ad9bff0-5cc1-4343-be89-e794d852a2f3.png/v1/fill/w_1280,h_906,q_80,strp/on_a_square_plate_by_piethein21_d68hqne-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA2IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kNjhocW5lLTVhZDliZmYwLTVjYzEtNDM0My1iZTg5LWU3OTRkODUyYTJmMy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.OFfoAmZPIgZSmUGxtd-V_u68mi7pDamm6KoyZ0Anpic">
        <img title="Een technisch simpel werk, maar met veel blur effecten" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d68ljw3-ac59e3d0-eb47-4b27-81f6-0e618eca7038.png/v1/fill/w_1600,h_1133,q_80,strp/whorl_tribute_by_piethein21_d68ljw3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEzMyIsInBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZDY4bGp3My1hYzU5ZTNkMC1lYjQ3LTRiMjctODFmNi0wZTYxOGVjYTcwMzgucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.HjL6uhusc8hgR9SzJ2U8KINI2o9S_9KEGEyK8gP8fxs">
        Buiten het maken van fractals fiets ik graag (in de zomer) en speel ik regelmatig snooker. Verder vul ik mijn vrije tijd met koken en ook met nog meer wiskunde. Voor mijn academische cv klik hier.

      </p>
    </div>


  </main>

</div>



<div class="footer">
  <p>Copyright © 2019</p>
  <p>Created with Angular by <a href="https://www.deviantart.com/piethein21" target="_blank"> Niels Langeveld</a></p>
</div>
</body>
</html>
