<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Niels</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

  <main>
<div class="top_item">
        <h2>Prijsinformatie en bestellen</h2>
        <p class="blogText">
          <!--              itemid=1, #all#old#structured-->
          Vind hier alles wat je wilt weten (over de prijs).
          <a href="https://nl.surveymonkey.com/r/HMQ2TMK" target="_blank" class="button"> Bestellen</a>
        </p>


</div>
  </main>
</div>
</body>
</html>

