<!DOCTYPE html>
<html>
  <body>
    <nav class="navbar">
      <ul class="nav">
        <li (click)="naarHome()"><a class="linkjes">Home</a></li>
        <li (click)="naarFractalshop()"><a class="linkjes">Fractalshop</a></li>
        <li (click)="naarAboutfractals()"><a class="linkjes">About Fractals</a></li>
        <li (click)="naarAboutMe()"><a class="linkjes">About me</a></li>
      </ul>
    </nav>
  </body>


  <div id="page" class="routeContainer">
    <router-outlet #myOutlet="outlet"></router-outlet>
  </div>

</html>
