<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Niels</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

  <main>

    <div class="dropdown" style="left: -10vw">
      <button class="dropbtn">Kies Categorie</button>
      <!--            <div class="dropdown-content" style="left:0;">-->
      <div class="dropdown-content">
        <a (click)="setAllToTrue()" style="border-top: 1px solid black">All</a>
        <a (click)="setOldToTrue()">Old</a>
        <a (click)="setNewToTrue()">New</a>
        <a (click)="setStructuredToTrue()">Structured</a>
        <a (click)="setUnstructuredToTrue()">Unstructured</a>
        <a (click)="setMicroToTrue()">Microscopisch</a>
      </div>
    </div>

    <div class="top_item" *ngIf="this.old">
      <h1>Oldies</h1>
      Dit zijn al mijn old time favourites.
    </div>

    <div class="top_item" *ngIf="this.new">
      <h1>Nieuwe werken</h1>
      Dit zijn mijn recente werken te vinden.
    </div>

    <div class="top_item" *ngIf="this.structured">
      <h1>Gestructureerde werken</h1>
      Dit zijn mijn werken te vinden waar een bepaalde structuur in zit. Geometrische figuren zijn hierin vaak terug te vinden.
    </div>


    <div class="top_item" *ngIf="this.unstructured">
      <h1>Ongestructureerde werken</h1>
     Dit zijn de werken waar geen structuur opgelegd is. Er zullen overlappende gedeeltes in zitten en sommige lijken misschien meer op iets van Herman Brood dan op iets geometrisch.
    </div>

    <div class="top_item" *ngIf="this.micro">
      <h1>Microscopisch</h1>
      Dit zijn werken waarbij het lijkt of er is ingezoomd op iets heel kleins.
    </div>

    <div class="top_item" *ngIf="this.all">
      <h1>Alles</h1>
      Dit zijn alle werken die te koop worden aangeboden. Heeft u andere wensen? Neem dan contact met me op via nielsfractals@hotmail.com
    </div>

    <ng-container *ngFor="let fractal of fractals">
    <div class="blog_item" *ngIf="this.all && fractal.all || this.old && fractal.old || this.new && fractal.new || this.structured && fractal.structured
    || this.unstructured && fractal.unstructured || this.micro && fractal.microscopisch" >
      <table>
        <tr>
          <td>
            <h2>{{fractal.name}}</h2>
            <p class="blogText">
              {{fractal.description}}
            </p>
            <a (click)="toPriceInfo(fractal)" target="_blank" class="button">Prijsinformatie en bestellen</a>
          </td>
          <td><img (click)="addModal(fractal)"  alt="{{fractal.name}}" id="{{fractal.name}}" title="{{fractal.name}}" class="blogplaatje" src="{{fractal.image}}"></td>
        </tr>
      </table>
    </div>
    </ng-container>
  </main>

</div>

<!-- The Modal -->
<div class="modal" id="myModal" scroll="no">

  <!-- The Close Button -->
  <span (click)="closeModal()" class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="modalImage" >

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<div class="footer">
  <p>Copyright © 2019</p>
  <p>Created with Angular by <a href="https://www.deviantart.com/piethein21" target="_blank"> Niels Langeveld</a></p>
</div>

</body>

</html>
