<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Frank</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

  <main>

    <div class ="top_item">
      <h1>Welkom op de Website van Niels Langeveld</h1>
      Op deze homepage kunt u het blog van mij lezen. Ik zal u op deze manier op de hoogte houden van alle gebeurtenissen omtrent mijn fractals. Of misschien vind ik het leuk om wat met u te delen. Iets, interessants, grappig of opmerkelijk. U kunt het allemaal verwachten op deze pagina (of het grappig is kan ik echter niet garanderen).
    </div>


    <div class="blog_item">
      <table>
        <tr>
          <td>
            <h2>Een nieuwe expositie?</h2>
            <p class="blogText" style="width: 40vw">Het plaatje wat u ziet aan de rechterkant is een foto van een expositie in het oude gemeentehuis van Bennebroek. Inmiddels staan er huizen op die plek en is het alweer 5 jaar geleden. Hoog tijd om een nieuwe expositie te hebben dus! Ik ben dezerdagen dan ook op zoek naar een ruimte. Natuurlijk hou ik u op de hoogte. Als u toevallig een expositieruimte weet waar ze mijn werk zouden willen hangen laat het me dan weten door te mailen naar nielsfractals@hotmail.com met de titel 'expositieruimte suggestie'. Laten we hopen dat ik snel wat vind.</p>
          </td>
          <td><img title="Dit ben ik voor mijn fractal bij de expositie in Bennebroek" class="plaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/d894cc3-656ee147-37d2-4a61-bc96-aab44dac398e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0ZWYzNDgxLTVjN2UtNGJkNi05MmNkLTU2MTM4YjMzZjgyZlwvZDg5NGNjMy02NTZlZTE0Ny0zN2QyLTRhNjEtYmM5Ni1hYWI0NGRhYzM5OGUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.QapScqp04yFMaxQPMn8YoHacSOmQrIZbgx1N4fgWBbs"></td>
        </tr>
      </table>
    </div>





    <div class="blog_item">
      <h2>Eindelijk online!</h2>
      <p>Na een drukke periode van hard werken aan mijn proefschrift had ik dan eindelijk tijd om een website te maken voor mijn fractals. Natuurlijk bestond dit idee al een tijdje (zeg een jaar of 5), maar was het er nooit van gekomen.
        Ik ben dan ook zeer blij dat het nu dan toch gerealiseerd is. Deze website maakt het voor mij makkelijker om mensen te bereiken en geeft me een referentie om naar te verwijzen wanneer ik mijn fractals aan mensen laat zien. De bedoeling is ook dat door dit alles de verkoopcijfers omhoog gaan.
        Niet alleen is het prettig voor mij om wat centjes bij te verdienen. Ook is het natuurlijk hartstikke gaaf om fractals van mij bij de mensen thuis te hebben hangen. Deze website heb ik zeker niet alleen gemaakt, maar samen met <a href="https://www.linkedin.com/in/frank-floris-70b057176/" target="_blank"> Frank Floris</a>. Frank: bedankt voor alle hulp. Zonder jou was het niet gelukt.
        Waar mijn CSS/HTML vaardigheden zeer beperkt zijn, heb jij kunnen helpen.
        Als laatste wil ik opmerken dat op deze site niet al mijn werken te vinden zijn (die vind je <a href="https://www.deviantart.com/piethein21/gallery/" target="_blank"> hier</a>). Ik bied alleen die fractals aan waarvan ik de parameters heb gesorteerd en dus zeker weet dat ik hem op groot formaat kan renderen (of al heb gerendered).
      </p>
    </div>


  </main>

</div>

<div class="footer">
  <p>Copyright © 2019</p>
  <p>Created with Angular by <a href="https://www.deviantart.com/piethein21" target="_blank"> Niels Langeveld</a></p>
</div>
</body>
</html>
