<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Frank</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

  <main>

    <div class="blog_item">
      <table>
        <tr>
          <td>
            <h2>Super mooie keigave fractal</h2>
            <p class="blogText">Dit is een blogpost. Dit is een blogpost.Dit is een blogpost.
              Dit is een blogpost. Dit is een blogpost. Dit is een blogpost. </p></td>
          <td><img title="Dit is een fractal voorbeeld" class="blogplaatje" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4ef3481-5c7e-4bd6-92cd-56138b33f82f/ddfpm7k-d7a58310-3624-45fd-847b-6318002ec20a.png/v1/fill/w_1280,h_907,q_80,strp/forgot_my_glas_at_the_disco_by_piethein21_ddfpm7k-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA3IiwicGF0aCI6IlwvZlwvYjRlZjM0ODEtNWM3ZS00YmQ2LTkyY2QtNTYxMzhiMzNmODJmXC9kZGZwbTdrLWQ3YTU4MzEwLTM2MjQtNDVmZC04NDdiLTYzMTgwMDJlYzIwYS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.epWLPPPrb1qnpsX2OSn24aCOaux4gYwUMMdJuURwzfs"></td>
        </tr>
      </table>
    </div>

    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Grapje hihihihihi.
      </p>
    </div>

    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>
    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>
    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>
    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>
    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>
    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>
    <div class="cv_item">
      <h2>Blogpost</h2>
      <p>Dit is een blogpost.
      </p>
    </div>


  </main>

</div>

<div class="footer">
  <p>Copyright © 2019</p>
  <p>Created with Angular by <a href="https://www.deviantart.com/piethein21"> Niels Langeveld</a></p>
</div>
</body>
</html>
